<div class="page-section" id="carousel" data-ng-controller="carouselController">

  <!--<div class="film"></div>-->
  <div uib-carousel active="active" interval="interval" no-wrap="noWrapSlides">
      <!--<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.imageURL}}" style="margin:auto;">
      </div>-->
      <div uib-slide index="0" >
        <div class="film"></div>
        <div class="slide-container slider-bg-support"></div>
        <span class="slider-text slide-container col-md-12">
            <div class="center-text col-md-5">
              <span class="text-white car-text">Providing technical support for your events</span>
            </div>
          </span>
      </div>
      <div uib-slide index="1" >
        <div class="film"></div>
        <div class="slide-container slider-bg-chess"></div>
        <span class="slider-text slide-container col-md-12">
            <div class="center-text col-md-5">
              <span class="text-white car-text">We help you analyse and strategise</span>
            </div>
          </span>
      </div>
      <div uib-slide index="2" >
        <div class="film"></div>
        <div class="slide-container slider-bg-ahead"></div>
        <span class="slider-text slide-container col-md-12">
            <div class="center-text col-md-5">
              <span class="text-white car-text">At Dovan we give you the competitive advantage</span>
            </div>
          </span>
      </div>


  </div>
</div>
<div class="page-section" id="about">
  <div class="section-heading">
    <span>about dovan</span>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-6 padding-box-header">
      <p class="page-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      </p>
      <p class="page-text">

      </p>
      <p class="page-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      </p>
  </div>
  <div class="clearfix"></div>
</div>
<div class="page-section slide-container" id="services">
    <div>
    <div class="section-heading">
      <span>our services</span>
    </div>
    <div class="col-md-4 service-box center-text">
      <div class="">
          <i class="fa fa-bus" ></i>
      </div>
        <span class="service-head uppercase block-text">logistics</span>
        <span class="page-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ut aliquip blake ndise.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip blake ndise.
        </span>
    </div>
    <div class="col-md-4 service-box center-text">
        <div class="">
            <i class="fa fa-puzzle-piece" ></i>
        </div>
        <span class="service-head uppercase  block-text">sales activation</span>
        <span class="page-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        </span>
    </div>
    <div class="col-md-4 service-box center-text">
      <div class="">
          <i class="fa fa-wrench" ></i>
      </div>
        <span class="service-head uppercase  block-text">tech support</span>
        <span class="page-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        </span>
    </div>
  </div>


    <div class="clearfix"></div>
</div>
<div class="page-section" id="policy">
  <div class="film"></div>
  <div class="film-content slide-container">
    <div class="col-md-6">
    <div class="section-heading">
      <!--<span class="text-white">service policy</span>-->
    </div>
    <div class="centered-text ">
        <span class="text-white ">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore. et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        </span>
        <br/>
        <span class=" text-white">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        </span>
    </div>
  </div>
  </div>

  <div class="clearfix"></div>
</div>
<div class="page-section slide-container" id="clients">
  <div class="col-md-12 center-text">
    <div class="section-heading">
      <span>clients &amp; partners</span>
    </div>
    <span class="page-text center-text">
      Dovan Consult as a professional Institution has facilitated a number of projects in respect with and For a high number of other corporate institutions these include
    </span>
</div>
  <div class="clearfix"></div>
</div>
<div class="page-section" id="contact">
    <div class="section-heading">
      <span>contact us</span>
    </div>
    <div class="col-md-6">
      <div class="padding-box-header">
      <div id="map"></div>
    </div>
      <script>

            var initMap = function(){

              var uluru = {lat: +6.618444, lng: +3.348300};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: uluru
              });
              var marker = new google.maps.Marker({
                position: uluru,
                map: map
              });
            }

      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9HC2vqx01VXn3EgnGRMkcrXTyXS73sOQ&callback=initMap"></script>
    </div>
    <div class="col-md-6">
            <div class="padding-box-header">
            <p class="page-text">
              <i class="fa fa-map-marker"></i>
              <span>14A Talabi Street,
Off Adeniyi Jones,
Ikeja, Lagos</span>
            </p>
            <p class="page-text">
              <i class="fa fa-mobile"></i>
              <span>+2348057706522</span>
            </p>
            <p class="page-text">
              <i class="fa fa-mobile"></i>
              <span>+2348023111379</span>
            </p>
            <p class="page-text">
              <i class="fa fa-mobile"></i>
              <span>+2348122223606</span>
            </p>
            <p class="page-text">
              <i class="fa fa-envelope"></i>
              <span>info@dovanconsult.com</span>
            </p>
          </div>

        <p class="page-text">
            <p class="uppercase padding-box-header">message us</p>
            <div class="row">
            <div class="padding-top col-md-8 contact-form">
                <input class="form-control" placeholder="Full Name" name="name" ng-model="name"/>
                <input class="form-control" type="email" placeholder="Email Address" name="email" ng-model="email"/>
                <input class="form-control" type="phone" placeholder="Phone number" name="phone" ng-model="phone"/>
                <textarea class="form-control" placeholder="Message" name="message"></textarea>
                <button class="btn btn-primary pad-btn">Send</button>
            </div>
          </div>
        </p>

    </div>
  <div class="clearfix"></div>
</div>
