@import "vars";
@import "colors";
@import "measures";
@import "animations";
@import "reset";

.accordion-menu{
    ul{
        display: none;
    }

    li{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select:none;
    }

    label, a{
      box-sizing: border-box;
      position: relative;
      display: block;
      padding:  $elPaddingMed;
      /*padding: 18px 18px 18px 64px;*/
      text-decoration: none;
      color: $white;
      border-right: 3px solid rgba(0, 0, 0, 0.0);
      transition: all 0.7s ease-in-out;
    }
    label{
      cursor: pointer;
    }
    a{

    }

    input[type=checkbox]{
        position: absolute;
        opacity: 0;
    }

    input[type=checkbox]:checked + label:nth-of-type(n) + ul {
        display: none;
        background: #666a72;
    }

    input[type=checkbox]:checked{
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
    }

    input[type=checkbox]:checked + label + ul, input[type=checkbox]:checked + label:nth-of-type(n) + ul {
      /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
      /* show children when item is checked */
      display: block;
    }


    label:hover, a:hover{
        border-right: 3px solid red;
    }
}
