@import "vars";
@import "colors";
@import "measures";
@import "animations";
@import "reset";




body{
    font-family: 'Lato', 'Open Sans', verdana !important;
}
li{
  list-style: none;
}

input:focus, select:focus{
    outline: none;
}

/*display*/
.full-page-height{
    height: 100vh;
}

.element-spacer{
    padding:$elPaddingLg;
}

.hide-overflow{
    overflow: hidden;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.clear{
    clear: both;
}

.fixed{
  position: fixed;
}

.nav-fixed{
    position: fixed;
}

.content-fixed{
    position: relative;
    left: 250px;
}
.block{
    display: block;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}

.border-box{
    box-sizing: border-box;
}

.uppercase{
    text-transform: uppercase;
}

.capitalise{
    text-transform: capitalize;
}

.center-text{
  text-align: center;
}
.block-text{
   display: block;
}

.bar-height{
    height: $elPaddingMax;

}
.bar-padding{
    @include topHeavyPadding($elPaddingMed, 0);
}



.bar-text{
    line-height: $elPaddingMax;
}


.text-white{
    color: $white;
}

.text-blue{
    color: $blueText;
}

.text-red{
    color: $redText;
}

.text-black{
    color: $blackText;
}

.grey-text{
    color: $greyDarkText;
}

.grey-dark-text{
    color: $greyDarkerText;
}

.text-trans-visible{
    color: $transWhite;
}


/*backgrounds*/

.bg-white{
    background: $white;
}
.grey-backgrop{
  background: $textureBgGrey;
}

.bg-grey-text-backdrop{
      background: $greyTextBackdrop;
}
.bg-blue-light{
    background: $blueText;
}
.blue-gradient{
    @include simpleVertGradient($blueGradStart, $blueGradEnd);
}

.red-gradient{
    @include simpleRadGradient($redText, $redTextDarker);
}

.transparent-background{
    background: $transWhite;
}

.login-bg{
    background-image: url('../assets/imgs/fran.jpg');
    background-size: cover;
}

/*form stuff*/
.button{
    @extend .border-box;
    @extend .block;
    @include singleBorderRadius($borderRadius);
    padding: $elPaddingMed;
    margin: $elPaddingSm;
    border: 0;

}

.login-text-box{
    @extend .button;
    font-weight: 200;
    margin: 0 auto;
    margin-bottom: $elPaddingSm;
    @include insetBoxshadow($borderRadius, $greyLight);

}






/*login*/
.trans-film{
    background: $transWhiteLight;
    height: 100vh;
    z-index: 99;
}

.app-intro{
  position: relative;
  top: 200px;
  left: 100px;
}
.login-box{

    background: $transWhite;
    position: relative;
    top: 200px;
    left: 50%;
    @include singleBorderRadius($elPaddingSm);
    @include topHeavyPadding($elPaddingXXl, $elPaddingLg);


}






/*loading wait*/



.modal-cover{
    background: #000;
    opacity: 0.7;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 25;
}

.loading-cover{
    background: #000;
    opacity: 0.8;
    text-align: center;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 999995;
}

.loader-parent{
    position: relative;
}

.loader-holder{
  position: relative;
  //margin-top: 50%;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.dashboard-nav{
  box-sizing: border-box;

    li{
        display: block;
        list-style: none;
        box-sizing: border-box;
        background: $transFull;
        @include highlightBorderRight($elPaddingSm, $transFull);
        @include transform(0.6s);

    }
    li:hover{
        background: $blueHighlight;
        @include highlightBorderRight($elPaddingSm, $blueText);
    }
    a{
      display: block;
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
      @include topHeavyPadding($elPaddingLg, $elPaddingMed);
      font-size: 0.8em;
      font-weight: bold;
    }
    i{
      margin-right: $elPaddingMed;
    }
}


.full-width{
    width: 100%;
}

.nav-width{
    width:20%;
}


.page-content-width{
    width: 80%;
}

.nav-height{
  height: 100vh;
}
.min-content-height{
    min-height: 100vh;
}





/*componenrts*/
//round image
.round-img{
    border-radius: 50%;
}


.profile-img-big{
    @extend .hide-overflow;
    height: 350px;

}


/*dropdown*/
.custom-dropdown--large {
	font-size: 1.5em;
}

.custom-dropdown--small {
	font-size: .7em;
}

.custom-dropdown__select{
	font-size: inherit; /* inherit size from .custom-dropdown */
	padding: .1em; /* add some space*/
	margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
	background-color: #fff;
	color: #444;
}


@supports (pointer-events: none) and((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)){
    .custom-dropdown{
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    .custom-dropdown__select{
        padding-right: 2.5em;
        border: 0;
        border-radius: $borderRadius;
        -webkit-apperance:none;
        -moz-appearance:none;
        appearance:none;
    }

    .custom-dropdown::before, .custom-dropdown::after{
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after{
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top:50%;
        margin-top: -.5em;

    }

    .custom-dropdown::before{
        width: 2em;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled]{
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after{
        	color: rgba(0,0,0,.1);
    }


    .custom-dropdown--white::before{
        background-color: $white;
        border-left: 1px solid rgba(0,0,0,.1);

    }
    .custom-dropdown--white::after{
        color: rgba(0,0,0,.9);
    }

    @-moz-document url-prefix() {
  		.custom-dropdown__select 			 { padding-right: .9em }
  		.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
  		.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
  	}
}
