$blueGradStart: #007aaf;
$blueGradEnd: #008ec7;

$white:#ffffff;

$blueText:#00aeef;
$blueHighlight:#0675aa;

$greyDarkText:#6d6e71;
$greyDarkerText:#404041;
$greyLight:#f1f1f1;
$greyTextBackdrop:#ebeeee;

$redText:#e82925;
$redTextDarker:#db2420;
$blackText:#231f20;

$tableHeadBackground:#e7e7e8;


$textureBgGrey:#f7f8f8;


$transWhite:rgba(255, 255, 255, 0.8);
$transWhiteLight:rgba(255, 255, 255, 0.4);
$transFull:rgba(255, 255, 255, 0.0);

$dovanLightBlue:#15C0F3;
$dovanRed:#440404;
