@import "vars";
@import "colors";
@import "measures";
@import "animations";
@import "reset";


#nav-holder-container{
    position: fixed;
    z-index: 9999;
    width: $full;

}

#map {
  height: 400px;
  width: 100%;
  background: $greyLight;
 }

textarea{
    min-height: 100px;
}

.pad-btn{
  margin-top: 10px;
}

.slide-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider-content-min-desc{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7em;
    text-align: left;
}
.slider-text{
    position: fixed;
    top: 0;
    margin-top: 0px;
    z-index: 9947;
}

.car-text{
    font-family: 'Raleway';
    font-size: 2em;
    font-weight: 300;

}


.slider-bg-support{
    background-image: url("../assets/imgs/ampli.jpg");
    background-size: cover;
}
.slider-bg-chess{
    background-image: url("../assets/imgs/chess.png");
    background-size: cover;
}
.slider-bg-ahead{
    background-image: url("../assets/imgs/ahead.jpg");
    background-size: cover;
}

.span-button{
    border-radius: $elPaddingSm;
    display: inline-block;
    padding: $elPaddingMedi;
    @include simpleBorder(1px, $white);
    cursor:pointer;
    color: $white;
    background: $transFull;
    @include transform(0.3s);
    text-transform: uppercase;
}
.span-button:hover{

    padding: $elPaddingMedi $elPaddingLg;

}


.centered-text{
    font-size: 0.8em;
    font-weight: 300;
    line-height: 2.5em;
    text-align: center;
}

.contact-form{
    input{
        margin-bottom: $elPaddingMed;
    }
}

.padding-box-header{
    display: block;
    padding: $elPaddingLg $elPaddingNada;
}

.padding-top-app{
      padding-top: $elPaddingMaxi;
}

.navigation-list{
    li{
        display: block;
        float: left;
        text-transform: uppercase;
        padding: $elPaddingLg;
        line-height: $elPaddingSm;
        a{
            text-decoration: none;
            cursor: pointer;
            color: $dovanLightBlue;

        }
        i{
            color: $dovanLightBlue;
        }
    }
}
.navigation-list-carousel{
    li{
        display: block;
        float: left;
        text-transform: uppercase;
        padding: $elPaddingLg;
        line-height: $elPaddingSm;
        a{
            text-decoration: none;
            cursor: pointer;
            color: $white;
            i{
              color: $white;
            }
        }


        i{
          color: $white;
        }
    }
}

#social-nav{
    li{
        display: block;
        float: left;
        text-transform: uppercase;
        padding: $elPaddingLg;
        line-height: $elPaddingSm;
        a{

        }
    }
    //color: $white;
}


.page-section{
    width: $full;
    min-height: $fullHeight;
    box-sizing: border-box;

    .section-heading{
        //padding: $elPaddingLg;
        padding-top: $elPaddingMaxel;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.1em;
        color: $dovanRed;
    }
}
#carousel{
    padding: $elPaddingNada;
    position: relative;
    top: $elPaddingNada;
    overflow: hidden;
    .film{
        z-index: 999;
        position: absolute;
        background: $blackText;
        opacity: 0.8;
        height: 100%;
        width: $full;
    }
}

.page-text{
    font-size: 0.9em;
    line-height: 2.1em;
    font-weight: 300;
    margin-bottom: $elPaddingMedi;
    padding: $elPaddingNada $elPaddingMega $elPaddingNada $elPaddingNada;
}

.center-text{
    text-align: center;
}

.service-box{

    box-sizing: border-box;
    padding: $elPaddingXXl;
    i{
      color: $dovanLightBlue;
      font-size: 5em;
      margin-bottom: $elPaddingLg;
    }

}

.service-head{
    font-size: 1.2em;
    font-weight: bold;
    color: $dovanRed;
    padding: $elPaddingMed
}


#policy{
    position: relative;
    overflow: hidden;
    .film{
        position: absolute;
        background: $blackText;
        opacity: 0.8;
        height: 100%;
        width: $full;
    }
    background-image: url('../assets/imgs/customer-smile.png');
    background-size: cover;
}


.film-content{
    position: absolute;
    text-align: center;
    width: $full;
}


.bg-car-pink{
    background-image: linear-gradient(593deg, #ce0071, #e51986, #ea489f);
}
.bg-car-blue{
    background-image: linear-gradient(592deg, #16c6f7, #04c7e5, #27c1d8);
}
