$elPaddingNada:0;
$elPaddingUno:1px;
$elPaddingDeux:2px;
$elPaddingSm:5px;
$elPaddingMed:10px;
$elPaddingMedi:15px;
$elPaddingLg:20px;
$elPaddingXl:30px;
$elPaddingXXl:40px;
$elPaddingMax:50px;
$elPaddingMaxel:60px;
$elPaddingMaxi:100px;
$elPaddingMega:200px;
$navWidth:250px;
$headerHeight:50px;


$borderRadius:3px;

$fifth:20%;
$quarter:25%;
$half:50%;
$seventh:75%;
$full:100%;
$fullHeight:100vh;

$loginBoxHeight:450px;
$loginBoxWidth:485px;
