
@mixin appBoxShadow($size, $color) {
    -webkit-box-shadow: 0 0 $size 0 $color;
    -moz-box-shadow: 0 0 $size 0 $color;
    box-shadow: 0 0 $size 0 $color;
}

@mixin insetBoxshadow ($size, $color) {
    -webkit-box-shadow:inset 0 0 $size 0 $color;
    -moz-box-shadow:inset 0 0 $size 0 $color;
    box-shadow:inset 0 0 $size 0 $color;
}

@mixin elipsis (){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin wordWrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin singleBorderRadius($radius) {
    border-radius: $radius;
}

@mixin fullBorderRadius($top, $right, $bottom, $left) {
    border-radius: $top $right $bottom $left;
}

@mixin simpleVertGradient ($start, $end){
    background-image: linear-gradient($start, $end);
}
@mixin simpleSlantGradient ($ang, $start, $end){
    background-image: linear-gradient($ang, $start, $end);
}
@mixin simpleRadGradient ($start, $end){
    background-image: radial-gradient($start, $end);
}


@mixin topHeavyPadding($top, $side) {
    padding: $top $side;
}

@mixin topHeavyMargin($top, $side) {
    margin: $top $side;
}

@mixin simpleBorder($size, $color) {
    border: $size solid $color;
}

@mixin highlightBorderLeft($size, $color) {
    border-left: $size solid $color;
}
@mixin highlightBorderRight($size, $color) {
    border-right: $size solid $color;
}
@mixin highlightBorderTop($size, $color) {
    border-top: $size solid $color;
}
@mixin highlightBorderBottom($size, $color) {
    border-bottom: $size solid $color;
}
